@model IEnumerable<SDGE.ApplicationCore.Entity.Evento>

@{
    ViewData["Title"] = "Index";
}

<div id="modalView" class="col-md-12"></div>

<div class="row">
    <div class="col-md-12">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-6">
                    <div class="card card-chart">
                        <div class="card-header card-header-info">
                            <h4 class="card-title">Título do Evento: @item.Titulo</h4>
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-sm-3">
                                    Lema
                                </dt>
                                <dd class="col-sm-9">
                                    @item.Lema
                                </dd>
                                <dt class="col-sm-3">
                                    Data de Início
                                </dt>
                                <dd class="col-sm-9">
                                    @item.DataInicio
                                </dd>
                                <dt class="col-sm-3">
                                    Data de Fim
                                </dt>
                                <dd class="col-sm-9">
                                    @item.DataFim
                                </dd>
                                <dt class="col-sm-3">
                                    Local
                                </dt>
                                <dd class="col-sm-9">
                                    @item.Local
                                </dd>
                                <dt class="col-sm-3">
                                    Categoria
                                </dt>
                                <dd class="col-sm-9">
                                    @item.Categoria
                                </dd>
                            </dl>
                        </div>
                        <div class="card-footer text-right">
                            <button type="button" onclick="location.href='@Url.Action("Details", new { id = item.EventoId })'" class="btn btn-outline-info btn-sm">
                                <i class="material-icons">details</i>
                                Detahles
                            </button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

