@model IEnumerable<SDGE.ApplicationCore.Entity.EventoParticipante>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comprovativo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comprovativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participante.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EventoParticipanteId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EventoParticipanteId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EventoParticipanteId">Delete</a> |
                <a><input type="button" value="Download" class="btn btn-outline-success" onclick="location.href='@Url.Action("Download", "EventoParticipante", new { id = item.EventoParticipanteId })'" /></a>
            </td>
        </tr>
}
    </tbody>
</table>
