@model IEnumerable<SDGE.ApplicationCore.Entity.Membro>

<div class="modal fade" id="modalAddMember" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="AddMember">
                <!--Header-->
                <div class="modal-header mx-3 pt-3 mb-1">
                    <h4 class="modal-title" id="myModalLabel">Listar Membros</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table" id="dtMaterialDesignExample">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Nome)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Telefone)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nome)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Telefone)
                                            </td>
                                            <td class="td-actions text-right">
                                                <button type="button" onclick="location.href='@Url.Action("Delete", "ComissaoOrganizadora", new { id = item.MembroId })'" rel="tooltip" title="Apagar" class="btn btn-danger btn-link btn-lg">
                                                    <i class="material-icons">remove</i>
                                                </button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>

</script>