

@model IEnumerable<SDGE.ApplicationCore.Entity.MembroOrganizador>
@{
    bool state = false;
   
    foreach (var item in Model)
    {
        if (item.MembroOrganizadorId.ToString() != null)
        {
            state = true;
             ViewData["Title"] = item.ComissaoOrganizadora.Codigo;
            ViewData["Id"] = item.ComissaoOrganizadoraId;
            break;
        }
    }
    
}

<div id="modalView" class="col-md-12"></div>

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.Alert != null)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <span>
                    <b> Sucesso - </b> @ViewBag.Alert
                </span>
            </div>
        }
    <form asp-action="Confirmar" method="post">
        <input type="hidden" name="Id" id="Id" value="@ViewData["Id"]" />
        <div class="card card-chart">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    Confirmar pedidos da comissão organizadora  @ViewData["Title"]
                </h4>
                <p class="card-category">Comissao responsavel pelo controlo total do sistema</p>
            </div>

            <div class="card-body">

                <table class="table" id="dtMaterialDesignExample">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(model => model.Membro.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Membro.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Membro.Telefone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Confirmado)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox" name="confirmar[]" value="@item.MembroOrganizadorId.ToString()">
                                            <span class="form-check-sign">
                                                <span class="check"></span>
                                            </span>
                                        </label>
                                    </div>
                                    <input type="hidden" asp-for="@item.MembroOrganizadorId" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Membro.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Membro.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Membro.Telefone)
                                </td>
                                <td>
                                    @if (item.Confirmado == false)
                                    {
                                        <button class="btn btn-danger btn-sm" disabled>Não</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success btn-sm" disabled>Sim</button>
                                    }

                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" data-toggle="ajax-modal" data-target="#modalConfirmDelete" data-url="@Url.Action($"RemoverMembro/{item.MembroOrganizadorId}")" rel="tooltip" title="Remover" class="btn btn-danger btn-link btn-lg">
                                        <i class="material-icons">remove</i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

                <hr />
                <div class="form-group text-right">
                    <button type="button" onclick="location.href='@Url.Action("Index")'" class="btn btn-outline-info btn-sm waves-effect">
                        <i class="material-icons">navigate_before</i>
                        Voltar
                    </button>
                    @if (state)
                    {
                        <button type="submit" class="btn btn-outline-success btn-sm">
                            <i class="material-icons">done</i>
                            Confirmar
                        </button>
                    }
                </div>

            </div>
        </div>
    </form>

    </div>
</div>