@model SDGE.ApplicationCore.Entity.Correcao

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Correcao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ficheiro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ficheiro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observacoes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observacoes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Submissao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Submissao.Descricao)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Membro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Membro.Email)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CorrecaoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
