@model IEnumerable<SDGE.ApplicationCore.Entity.MembroCientifico>
@{
    ViewData["Title"] = "Listar";
}

<div id="modalView" class="col-md-12"></div>

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.Alert != null)
        {
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="material-icons">close</i>
                </button>
                <span>
                    <b> Sucesso - </b> @ViewBag.Alert
                </span>
            </div>
        }
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title">
                    Lista de membros da comissão científica  @foreach (var item in Model)
                    {@Html.DisplayFor(modelItem => item.ComissaoCientifica.Codigo)break;
                }
                </h4>
                <p class="card-category">Comissão responsável por avaliar as submissões.</p>
            </div>
            <div class="card-body">
                <table class="table" id="dtMaterialDesignExample">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Membro.Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Membro.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Membro.Telefone)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Membro.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Membro.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Membro.Telefone)
                                </td>
                                <td class="td-actions text-right">
                                    <button type="button" data-toggle="ajax-modal" data-target="#modalConfirmDelete" data-url="@Url.Action($"RemoverMembro/{item.MembroCientificoId}")" rel="tooltip" title="Remover" class="btn btn-danger btn-link btn-lg">
                                        <i class="material-icons">remove</i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
                <div class="form-group">
                    <button onclick="location.href='@Url.Action("Index")'" class="btn btn-primary btn-sm waves-effect">Voltar</button>
                    <a asp-action="Index"></a>
                </div>
            </div>
        </div>
    </div>
</div>