@model IEnumerable<SDGE.ApplicationCore.Entity.MembroEvento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Evento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Membro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evento.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Membro.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MembroEventoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MembroEventoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MembroEventoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
