@model SDGE.ApplicationCore.Entity.Submissao

<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-danger" role="document">
            <div class="row">
                <div class="col-md-12">
                    <div class="card modal-content">
                        <div class="card-header card-header-info">
                            <h4 class="card-title ">Detalhes</h4>
                            <p class="card-category">Título: @Html.DisplayFor(model => model.Titulo)</p>
                        </div>
                        <div class="card-body">
                            <div>
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Evento)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Evento.Titulo)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Tipo)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Tipo.Titulo)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Descricao)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Descricao)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Observacoes)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @if (Model.Observacoes != null)
                                        {
                                            @Html.DisplayFor(model => model.Observacoes)
                                        }
                                        else
                                        {
                                            <p>Sem Observações</p>
                                        }

                                    </dd>
                                </dl>
                            </div>
                            <div class="form-group text-right">
                                <button class="btn  btn-outline-danger btn-sm waves-effect" data-dismiss="modal">
                                    <i class="material-icons">close</i>
                                    Fechar
                                </button>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
    </div>
</div>
